@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body {
  background-color: #4682B4;
  font-family: 'Gupter', sans-serif;
  text-align: center;
  font-size: 200%;
}

header {
  color: #000000;
  text-shadow: 5px 5px 30px #40E0D0;
}

section {
  background-color: #DCDCDC;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #66CDAA;
}

footer {
  color: #DCDCDC;
  text-shadow: 5px 5px 3px #66CDAA;
}
