@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Play:wght@400;700&display=swap');

body {
    background-image: url('Noite.jpg'); /* Substitua pela URL da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    font-size: 16pt;
    text-align: center;
    font-family: 'Octavio Pardo';
}

header {
    color: white;
    text-shadow: 2px 2px 3px #dffed4;
}

.section {
    margin-bottom: 2px;
    padding: 10px; 
    background-color: rgba(88, 101, 83, 0.8); /* Adicione opacidade para ver a imagem de fundo */
}

input {
    width: 300px; /* Aumenta a largura do input */
    padding: 10px; /* Aumenta o padding do input */
    font-size: 16pt; /* Ajusta o tamanho da fonte */
}

button {
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    font-size: 16pt; /* Ajusta o tamanho da fonte do botão */
}
